@model signedup.Models.User
@{
    ViewBag.Title = "Admin Home";
    Layout = "~/Views/Shared/AdminHomepage.cshtml"; // Apply the layout
    @*<a href="~/Views/Shared/AdminHomepage.cshtml">~/Views/Shared/AdminHomepage.cshtml</a>*@
}

