@model IEnumerable<signedup.Models.Task>

@{
    ViewBag.Title = "Completed Tasks";
    Layout = "~/Views/Shared/UserHomepage.cshtml";
}

<h2>Completed Tasks</h2>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Completion Date</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var task in Model)
            {
                <tr>
                    <td>@task.Title</td>
                    <td>@task.Description</td>
                    @*<td>@task.CompletionDate?.ToString("d")</td>*@
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="3">No completed tasks found.</td>
            </tr>
        }
    </tbody>
</table>
