@{
    ViewBag.Title = "About Company";
    Layout = "~/Views/Shared/Homepage.cshtml";
    @*<img src="~/Content/images/product.jpg" />*@
}
<main aria-labelledby="title">
    @*<h2 id="title">@ViewBag.Title.</h2>*@
    @*<h3>@ViewBag.Message</h3>*@
    <dl>
        <dt>About us</dt>
        <dd>
            At our company, we are dedicated to streamlining how teams and individuals manage their<br /> tasks and projects. Our goal is to empower users with the tools they need to enhance <br />
            productivity, improve collaboration, and achieve their objectives efficiently.
        </dd>
    </dl>
    <dl>
        <dt>Mission</dt>
        <dd>"Our mission is to empower teams and individuals to efficiently manage tasks and projects.<br />  We strive to provide an intuitive platform that simplifies task assignment, tracking, and <br /> completion and helping users achieve their goals and meet deadlines seamlessly."</dd>
    </dl>

    <dl>
        <dt>Vision</dt>
        <dd>"Our vision is to be the leading task management solution that transforms the way teams <br />work together. We aim to foster a culture of productivity and innovation, making every <br />task a step towards success."</dd>
    </dl>
    <h2>Services and Products</h2>
    <dl>
        <dt>Data and Artificial Intelligence</dt>
        <dd>Our company provides AI solutions, data engineering, and data analytics to help <br /> businesses harness the power of their data.</dd>
    </dl>
    <dl>
        <dt>Cloud Transformation</dt>
        <dd>
            We specialize in cloud migration, infrastructure management, and application modernization,<br />
            aiming to help businesses transition smoothly to the cloud
        </dd>
    </dl>
</main> 