@{
    ViewBag.Title = "Contact"; 
    Layout = "~/Views/Shared/HomeContact.cshtml";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    @*<h3>@ViewBag.Message</h3>*@

    <address>
        Claysys Technology<br />
        Kochi, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Taskmanagement@gmail.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Creatingmore@yahoo.com</a>
    </address>

    <div class="google-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.835434509058!2d144.9537353153157!3d-37.8162799797512!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad642af0f11c54f%3A0x5045675218ceed9!2sYour%20Location%20Name!5e0!3m2!1sen!2sau!4v1615458797076!5m2!1sen!2sau"></iframe>
    </div>
    <div class="one">
        <p>Contact Us</p>
        <p>Email: info@mywebsite.com</p>
        <p>Phone: (123) 456-7890</p>
    </div>
    <div class="social-media">
        <h3>Follow Us</h3>
        <a href="https://www.facebook.com" target="_blank">
            <img src="~/Content/images/facebook.jpeg" alt="Facebook" width="30" height="30" />
        </a>
        <a href="https://www.instagram.com" target="_blank">
            <img src="~/Content/images/insta.jpeg" alt="Instagram" width="30" height="30" />
        </a>
        <a href="https://www.twitter.com" target="_blank">
            <img src="~/Content/images/twitter.jpeg" alt="Twitter" width="30" height="30" />
        </a>
        <a href="https://www.linkedin.com" target="_blank">
            <img src="~/Content/images/linked.jpeg" alt="LinkedIn" width="30" height="30" />
        </a>
    </div>



</main>