@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/Homepage.cshtml";
}

<style>
    /* CSS for the image styling */
    img {
        width: 1200px;  
        height: 580px; /* maintain aspect ratio */
        border-radius: 5px;  
        margin-left: 170px;
        margin-right:170px;
    }
    .heading {
        text-align: center;
        background-color: black;
        color: white;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size:20px;
    }
    .logo-text {
        font-size: 1.9rem; /* Larger font size */
        font-weight: bold; /* Bold weight */
        color: #007bff; /* Choose a distinct color */
        margin-left:-150px;
    }
    .nav-link {
        color: #ffffff; /* White color for text */
/*        margin-left: -2rem; */
        /*    transition: color 0.3s, background-color 0.3s;*/
    }

    /*.logo-text {
        font-size: 1.9rem;*/ /* Larger font size */
        /*font-weight: bold;*/ /* Bold weight */
        /*color: #007bff;*/ /* Choose a distinct color */
    /*}

    .logo-image {
        width: 90px;*/ /* Adjust width */
        /*height: 90px;*/ /* Maintain aspect ratio */
        /*margin-left: -100px;
    }*/

</style>
<h6 class="heading">Task Management System</h6>
<img src="~/Content/images/imag3.jpg" />